# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Django
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/
local_settings.py

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Env
.env
.venv/
env/
venv/
ENV/
*.env

# Git
.git/
